<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>18/11/17 11:19:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssertStmts.failConsciously()[pri:0, instance:package1.AssertStmts@6cc4c815]">failConsciously</td> 
  <td>main@1122134344</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>18/11/17 11:19:03</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AssertStmts.positiveDigit()[pri:0, instance:package1.AssertStmts@6cc4c815]">positiveDigit</td> 
  <td>main@1122134344</td>   <td></td> </tr>
</table>
