<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58d72">  <td>18/11/16 16:06:37</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Tc1.mm()[pri:0, instance:package1.Tc1@735b5592]">&gt;&gt;mm</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>18/11/16 16:06:37</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc1.m1()[pri:0, instance:package1.Tc1@735b5592]">m1</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b58d72">  <td>18/11/16 16:06:37</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc1.m2()[pri:0, instance:package1.Tc1@735b5592]">m2</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>18/11/16 16:06:37</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc2.m3()[pri:0, instance:package1.Tc2@58651fd0]">m3</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>18/11/16 16:06:37</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc2.m4()[pri:0, instance:package1.Tc2@58651fd0]">m4</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>18/11/16 16:06:37</td>   <td>49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Tc2.m5()[pri:0, instance:package1.Tc2@58651fd0]">m5</td> 
  <td>main@1750905143</td>   <td></td> </tr>
<tr bgcolor="b5a885">  <td>18/11/16 16:06:37</td>   <td>54</td> <td>&nbsp;</td><td title="&lt;&lt;Tc2.nn()[pri:0, instance:package1.Tc2@58651fd0]">&lt;&lt;nn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1750905143</td>   <td></td> </tr>
</table>
