<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="837a77">  <td>18/11/17 10:57:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Asserstmt.failConsciously()[pri:0, instance:package1.Asserstmt@100fc185]">failConsciously</td> 
  <td>main@876563773</td>   <td></td> </tr>
<tr bgcolor="837a77">  <td>18/11/17 10:57:11</td>   <td>16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Asserstmt.positiveDigit()[pri:0, instance:package1.Asserstmt@100fc185]">positiveDigit</td> 
  <td>main@876563773</td>   <td></td> </tr>
</table>
